#AO TODO IRA FALA SOBRE QUAIS ARQUIVOS SERÃO IGNORADOS
.gradle
#VERSÃO COMPILADA
**/build/
#PASTA DO PROJETO DA VERSÃO COMPILADA
!src/**/build/

# Ignore Gradle GUI config
#CONFIGURAÇÕES
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
#É UMA FERRAMENTA QUE NOS PERMITE USA-LA SEM TER INSTALADO
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Java ###
#ELEMENTO DE UM CÓDIGO
*.class

# Package Files #
#ARQUIVO COMPACTADO
*.jar
#É UM ARQUIVO JAR USADO PARA DISTRIBUIR UMA COLEÇÃO DE JavaServer
*.war
#É UM FORMATO DE ARQUIVO QUE TEM UM OU MAIS MÓDULOS EM UM ARQUIVO ÚNICO
*.ear

#CONFIGURAÇÕES
.settings/*
#LOCAL DE ARQUIVOS BINÁRIOS 
bin/*
#CRIAÇÃO DO PROJETO
.project
#SE REFERE ONDE PROCURAR OS PACOTES E CLASSES DEFINADAS PELA USUÁRIO
.classpath