
.gradle    /*COMPILAÇÃO DE CÓDIGOS ABERTO*/
**/build/ /*VERSÃO COMPILADA*/
!src/**/build/ /* PASTA DO PROJETO DA VERSÃO COMPILADA*/

# Ignore Gradle GUI config
gradle-app.setting /*CONFIGURAÇÕES*/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar /* É UMA FERRAMENTA QUE NOS PERMITE USA-LA SEM TER INSTALADO*/

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Java ###
*.class /* ELEMENTO DE UM CÓDIGO*/

# Package Files #
*.jar /* ARQUIVO COMPACTADO*/
*.war /* É UM ARQUIVO JAR USADO PARA DISTRIBUIR UMA COLEÇÃO DE JavaServer*/
*.ear /* É UM FORMATO DE ARQUIVO QUE TEM UM OU MAIS MÓDULOS EM UM ARQUIVO ÚNICO*/

.settings/* #CONFIGURAÇÕES
bin/* #LOCAL DE ARQUIVOS BINÁRIOS
.project /*CRIAÇÃO DO PROJETO*/
.classpath /* SE REFERE ONDE PROCURAR OS PACOTES E CLASSES DEFINADAS PELA USUÁRIO*/